// COLOR
$color-turquoise: #1abc9c;
$color-green-sea: #16a085;
$color-sun-flower: #f1c40f;
$color-orange: #f39c12;
$color-emerald: #78e08f;
$color-nephritis: #079992;
$color-carrot: #e67e22;
$color-pumpkin: #d35400;
$color-peter-river: #3498db;
$color-belize-hole: #2980b9;
$color-alizarin: #e74c3c;
$color-pomegranate: #c0392b;
$color-amethyst: #9b59b6;
$color-wisteria: #8e44ad;
$color-clouds: #ecf0f1;
$color-silver: #bdc3c7;
$color-wet-asphalt: #34495e;
$color-midnight-blue: #2c3e50;
$color-concrete: #95a5a6;
$color-asbestos: #7f8c8d;
$color-costal-breeze: #dff9fb;



// $color-primary: #78e08f;

// $color-primary-light: #b8e994;

// $color-gray-light-1: #f7f7f7;

// $color-gray-light: #777;
// $color-white: #eee;
// $color-black: #111;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 100rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;