.footer {
    padding: 10rem 0;
    background-color: $color-midnight-blue;
    color: $color-clouds;

    &__logo {
        background-color: $color-silver;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        border-radius: 2px;
        width: 20rem;
        height: auto;
        padding: 2rem;
        margin-bottom: 2rem;
    }

    &__navigation {
        border-top: 2px solid $color-asbestos;
        padding-top: 2rem;
        display: inline-block;
    }

    &__list {
        list-style: none;

    }

    &__item {
        font-size: 1.4rem;
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link, &:visited {
            text-decoration: none;
            color: $color-clouds;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
            padding: 1px;
        }

        &:active, &:hover {
            color: $color-emerald;
            box-shadow: 0 1rem 3rem rgba($color-midnight-blue, .8);
            background-color: $color-midnight-blue;
            backface-visibility: hidden;
            transform: rotate(10deg) scale(1.5);
        }
    }

    &__copyright {
        border-top: 2px solid $color-asbestos;
        padding-top: 2rem;
        display: block;
        width: 90%;
        float: right;
    }
}