@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotate(0deg);
    }
    80% {
        transform: translateX(10%) rotate(2deg);
    }
    90% {
        transform: translateX(-2%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    80% {
        transform: translateX(-10%);
    }
    90% {
        transform: translateX(1%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}